<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Layouts.GelfLayout" />
	</extensions>

	<targets async="true">
		<target xsi:type="Network" name="GelfTcp" address="tcp://localhost:12201" newLine="true" lineEnding="Null">
			<layout type="GelfLayout" facility="Net6NlogToGraylog">
			</layout>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="GelfTcp" />
	</rules>
</nlog>